.bg-dark-mode-home {
    background-color: #111 !important;
}



.disnone-mess {
    display: none !important;
}


.home {
    padding: 50px 0;
    z-index: 2;
    position: relative;
}

/* ++icon ++ */
.home .tab-mess {
    position: fixed;
    bottom: 5%;
    z-index: 5;
    right: 2%;
    transition: all .12s ease-in-out;
}

.home .btn-mess-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 25px;


}

.home .btn-mess-icon:hover,
.home .btn-messenger-icon:hover,
.home .btn-facebook-icon:hover {
    box-shadow: 5px 8px 24px 5px rgb(137, 137, 145);
    transform: scale(1.1);
}

.home .mess-show {
    position: absolute;
    bottom: 115%;
}

.home .btn-messenger-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(232, 101, 195, 0.544);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 30px;
}

.home .btn-facebook-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(22, 100, 184, 0.524);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    margin-top: 10px;
}

.bg-dark-mode-home .btn-mess-icon {
    background-color: #eee !important;
    color: #444;
}

/* +++icon+++ */
.home .outstanding {
    border-right: 1px solid rgba(170, 170, 170, 0.281);
}

.home .article {
    padding-right: 30px;

}

.home .post_entry_img img {
    margin-top: 0;
    border-radius: 3px;
}

.home a {
    text-decoration: none;
}

.post-entry-content {
    margin-top: 25px;
}

.home .outstanding .post-entry-content {
    font-family: 'Roboto', sans-serif;
}

.home .outstanding .post-entry-content p {
    /* color: rgba(255, 255, 255, .7); */
}

/*  */
.highlightHome {
    padding: 0 30px;
}

.highlightHome h4 {
    font-family: 'Roboto', sans-serif !important;
}

.highlightHome .col-12:last-child {
    border-bottom: none;
}

.highlightHome .col-12 {
    border-bottom: 1px solid rgba(170, 170, 170, 0.281);
    padding: 0px;
}

.highlightHome .post_entry {
    display: flex;
    flex-flow: row;
    padding: 20px 0px;
}

.highlightHome .posts-md:last-child {
    border-bottom: 1px solid transparent;
    margin-left: 10px;
}

/* .highlightHome .post_entry .post_entry_img {
    width: 123px;
    height: 100px;
} */
.highlightHome .post_entry .post_entry_img img {
    margin-top: 0px;
    object-fit: cover;
}

.hightlight_textcontent {
    display: flex;
    flex-flow: column;
}

/* */
.newletter {
    margin: 60px 0px;
    padding: 60px 24px;
    background-color: #ffeae6;
}

.newletter .row {
    justify-content: center;
    align-items: center;
}

.newletter h3 {
    font-size: 24px;
    color: #444;
    font-weight: 600;
    line-height: 1.5;
}

.newletter button {
    padding: 8px 26px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #111 !important;
    color: #fff;
    border: none;
    margin-left: 10px;
    text-transform: uppercase;
}

.bg-dark-mode-home .newletter input {
    border-color: red;
}

.newletter input {
    padding: 9px 26px;
    border: 1px solid #ced4da;
}

/*  */
.lastes_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.lastes_title button i {
    font-size: 13px;
    margin-left: 3px;
}

.lastes_item .post_entry_img {
    position: relative;
}

.lastes_item .post_entry_title {
    margin-top: 14px;
}

.lastes_item .post_entry_img .play-icon {
    position: absolute;
    z-index: 10;
    bottom: 5%;
    left: 4%;
    color: #fff;
    display: flex;
    align-items: center;
}

.lastes_item .post_entry_img .play-icon i {
    margin-right: 10px;
    color: #111;
    background-color: #fff;
    font-size: 30px;
    border-radius: 50px;
}

.spotlight {
    width: 100%;
    background-color: #010101;
    margin: 60px 0;
    padding: 60px 0;
    color: #fff;
}

#sl {
    margin-bottom: 30px;
}

.spotlight .post_entry_title h3 a {
    color: #fff;
}

.spotlight .post_entry_cate a {
    color: #F39887;
}

.spotlight .color-underline {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
}

.readingHistory {
    border-right: 1px solid rgba(170, 170, 170, 0.281);
    padding-right: 30px;
}

#rhh3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 30px;
    color: #444;
    font-family: 'Roboto', sans-serif;
}

.readingH_item {
    padding-bottom: 30px;
}

.readingH_item .row {
    flex-flow: row;
}

.readingH_item .post_entry_img {
    width: 50%;
}

.readingH_item:hover .color-underline {
    background-size: 100% 8px;
}

.readingH_item:hover img {
    transform: scale(1.2);
    overflow: hidden;
    transition: all 0.3s;
}

.theWeek {
    position: sticky !important;
    height: 100% !important;
    top: 234px;
}

#rhh4 {
    padding-left: 20px;
}

.week-posts li {
    list-style: none;
}

.weeks-item:hover .color-underline {
    background-size: 100% 8px;
}

.weeks-item {
    padding-top: 2rem;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.281);
}

.numberL {
    padding: 0;
}

.titleL .post-entry-title h4 {
    font-size: 1rem;
}

.numberL span {
    color: #DDD;
    line-height: 1;
    left: 0;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Literata', serif;
}

.weeks-item .post-entry-title h4 a {
    color: #444;
    font-size: 1rem;
}

.ad {
    padding-left: 30px;
}

.ad .col-12 span {
    width: 100% !important;
    height: auto !important;
}

.bannerHome {
    width: 100%;
    margin: 60px 0;
    padding: 60px 0;
    background-color: #f9f9f9;
    overflow: hidden;
}

.ad-bannerHome {
    text-align: center;
    max-width: 970px;
    margin: 0 auto;
}

.ad-bannerHome small {
    font-family: 'Roboto', sans-serif !important;
}

.ad-bannerHome img {
    max-width: 100%;
}

.fb-post iframe {
    width: 100% !important;
}


/* ++++Dark+++ */
.bg-dark-mode-home .highlightHome {
    color: #eee !important;
}

.bg-dark-mode-home .post_entry_title .post_entry_cate a {
    color: #F39887 !important;
}

.bg-dark-mode-home .post_entry_title h3 a {
    color: #eee !important;
}

.bg-dark-mode-home .post-entry-content p {
    color: rgba(255, 255, 255, .7);
}

.bg-dark-mode-home .newletter {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .1);
}

.bg-dark-mode-home .newletter h3 {
    color: #eee;
}

/* ++++Home-post+++ */
.home-posts {
    margin-top: 40px;
    text-align: left;
    position: relative;

}

.home-posts .col-md-6 {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 80px;
}

.home-posts .col-md-6:nth-child(n+2) {
    border-left: 1px solid #e5e5e5;
}

.home-posts .col-md-6 h3 {
    font-size: 24px;
    color: #444;
    font-weight: 600;
    line-height: 1.5;
}

.home-posts .item-post-home {
    padding-bottom: 15px;
}

.home-posts .item-post-home:nth-child(n-2) {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}

.home-posts .item-post-home:last-child {
    border-bottom: none;
}

.home-posts .grid-inner {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.home-posts .item-post-home-title h3 {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
}

.home-posts .item-post-home-title h3 a {
    color: #444;


}

.item-post-home-title .color-underline {
    background-image: linear-gradient(rgba(243, 152, 135, 0.3), rgba(243, 152, 135, 0.3));
    background-repeat: no-repeat;
    background-size: 0 8px;
    background-position: 0 82%;
    padding: 0 2px 2px 0;
    transition: background .6s cubic-bezier(.19, 1, .22, 1);
}

.item-post-home-title .color-underline:hover {
    background-size: 100% 8px;
}

.home-posts .item-post-home-date {
    display: block;
    float: none;
    margin: 8px 0 0 !important;
    font-family: 'Roboto', sans-serif !important;
}

.home-posts .item-post-home-date ul {
    padding: 0;
    margin: 0;
}

.home-posts .item-post-home-date ul li {
    font-size: 90%;
    margin: 0 15px 10px 0;
    color: #999;
}

.home-posts .item-post-home-date ul li a {
    color: #999;
}

.home-posts .more-link-post-home {
    font-style: normal;
    border-bottom: none;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline !important
}

.home-posts .more-link-post-home i {
    font-size: 13px;
    margin-left: 5px;
}

.bg-dark-mode-home .home-posts .col-md-6 h3 {
    color: #eee;
}

.bg-dark-mode-home .home-posts .item-post-home-title h3 a {
    color: #eee !important;
}

.bg-dark-mode-home .home-posts .item-post-home-date ul li a {
    color: #aaa;
}

.bg-dark-mode-home .home-posts .item-post-home:nth-child(n-2) {
    border-bottom-color: rgba(255, 255, 255, .15) !important;
}

.bg-dark-mode-home .home-posts .col-md-6:nth-child(n+2) {
    border-left-color: rgba(255, 255, 255, .15) !important;
}

.bg-dark-mode-home .home-posts .item-post-home-title .color-underline {
    background-image: linear-gradient(rgba(111, 103, 103, 0.833), rgba(111, 103, 103, 0.833));
}

.bg-dark-mode-home .home-posts .more-link-post-home {
    color: #eee;
}

.bg-dark-mode-home .home-posts .more-link-post-home i {
    color: #eee !important;
}

.post_entry_time {
    font-family: 'Roboto', sans-serif;
}

.bg-dark-mode-home .spotlight {
    background-color: rgba(255, 255, 255, .05) !important;
}

.spotlight #sl {
    font-size: 30px;
    font-family: 'Roboto', sans-serif !important;
}

.bg-dark-mode-home .spotlight #sl {
    font-family: 'Roboto', sans-serif !important;
}

.bg-dark-mode-home .highlightHome h4 {
    font-family: 'Roboto', sans-serif !important;

}

.bg-dark-mode-home .readingHistory #rhh3 {
    color: #eee !important;
}

.readingHistory .post_entry_cate a {
    font-family: 'Roboto', sans-serif !important;
}

.readingHistory .post_readingH {
    margin-top: 25px;
}

.readingHistory .post_readingH p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
}

.bg-dark-mode-home .readingHistory .post_readingH {
    color: rgba(255, 255, 255, .7) !important;
}

.bg-dark-mode-home .readingHistory .post_entry_title h3 .color-underline {
    background-image: linear-gradient(rgba(111, 103, 103, 0.833), rgba(111, 103, 103, 0.833));
}

.theWeek #rhh4 {
    font-size: 24px !important;
    font-family: 'Roboto', sans-serif !important;
}

.bg-dark-mode-home .theWeek #rhh4 {
    color: #eee !important;
    font-family: 'Roboto', sans-serif !important;

}

.bg-dark-mode-home .theWeek #rhh3 {
    color: #eee !important;
}

.bg-dark-mode-home .theWeek .post-entry-title h4 .color-underline {
    color: #eee !important;
    background-image: linear-gradient(rgba(111, 103, 103, 0.833), rgba(111, 103, 103, 0.833));
}

.bg-dark-mode-home .bannerHome {
    background-color: rgba(255, 255, 255, .05) !important;
}

.bg-dark-mode-home .bannerHome small {
    color: #eee;
}

/* +++responsive++++ */
@media only screen and (max-width:1200px) {
    .newletter .row {
        flex-direction: column !important;
    }

    .newletter .col-5 {
        width: 100% !important;
    }

    .newletter .col-5 h3 {
        width: 100% !important;
    }

    .newletter .col-6 {
        margin-top: 20px;
        width: 100% !important;
    }
}

@media only screen and (max-width:768px) {
    .highlightHome .post_entry {
        flex-flow: column;
    }

    .highlightHome .col-md-4 {
        width: 100% !important;
        height: auto !important;
    }

    .highlightHome .post_entry .post_entry_img {
        width: 100%;
        height: 100%;
    }

    .highlightHome .post_entry .post_entry_img img {
        width: 100%;
        height: auto;
    }

    .home .article {
        border-right: none !important;
    }

    .home .post_entry_img img {
        width: 100% !important;
    }


}

@media only screen and (max-width:991px) {
    .home .article {
        padding-right: 0px;
    }

    .home .outstanding {
        border-right: none;
    }
}

@media only screen and (max-width:768px) {

    .highlightHome .post_entry,
    .readingH_item .row {
        flex-flow: column;
        width: 100%;
        margin: 0;
    }

    .home .outstanding {
        border-right: 0px;
    }

    .readingHistory {
        border-right: none;
        padding-right: 0;
    }

    .readingH_item .post_entry_img {
        width: 100%;
    }

    .post_entry:hover img {
        transform: scale(1.0);
        overflow: hidden;
        transition: all 0.3s;
    }

    .ad {
        padding-left: 0px;
    }

    .fb-post iframe {
        width: 100% !important;

    }

    .lastes_item .post_entry {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:580px) {
    .home .tab-mess {
        right: 4%;
    }
}

@media only screen and (max-width:400px) {
    .bannerHome {
        margin: 30px 0;
        padding: 30px 0;
    }
}