.bg-dark-mode-tech {
    background-color: #111 !important;
}

.tech-list {
    padding-top: 30px;
    text-align: left;
    padding-bottom: 30px;
}

.tech-item {
    text-align: left;
    margin-bottom: 10px;
}

.tech-item .embed-responsive-item {
    width: 100%;
    padding-bottom: 10px;
}

.tech-item .tech-item-title {
    position: relative;
    font-size: 20px;
    line-height: 1.6;
    text-transform: none;
    font-weight: 500px;
    color: #222;
    text-decoration: none;

    background-image: linear-gradient(rgba(243, 152, 135, 0.3), rgba(243, 152, 135, 0.3));
    background-repeat: no-repeat;
    background-size: 0 8px;
    background-position: 0 82%;
    padding: 0 2px 2px 0;
    transition: background .6s cubic-bezier(.19, 1, .22, 1);
}

.tech-item .tech-item-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tech-list .tech-top {
    display: flex;
    justify-content: space-between;
}

.tech-list .tech-paginate .paginationBttns {
    display: flex;
    list-style-type: none;
    column-gap: 15px;
}

.tech-list .tech-paginate .paginationBttns li:hover {
    transform: scale(1.2);
    transition: all .3s ease
}

.tech-list .tech-paginate .paginationBttns .paginationActive a {
    color: red !important;
    font-weight: bold !important;
}

.tech-list .tech-paginate i {
    color: #111 !important;
}

.tech-list .tech-top h2 {
    padding-bottom: 30px;
}

.bg-dark-mode-tech .container h2 {
    color: #eee;
}

.bg-dark-mode-tech .tech-item-title {
    color: #eee !important;
}

.bg-dark-mode-tech .tech-item-date {
    color: #F39887 !important;
}