.tech-list {
    padding-top: 30px;
    text-align: left;
}

.tech-item {
    text-align: left;
}

.tech-item .embed-responsive-item {
    width: 100%;
}

.tech-item .tech-item-title {
    position: relative;
    font-size: 20px;
    line-height: 1.6;
    text-transform: none;
    font-weight: 500px;
    color: #222;
    text-decoration: none;

    background-image: linear-gradient(rgba(243, 152, 135, 0.3), rgba(243, 152, 135, 0.3));
    background-repeat: no-repeat;
    background-size: 0 8px;
    background-position: 0 82%;
    padding: 0 2px 2px 0;
    transition: background .6s cubic-bezier(.19, 1, .22, 1);
}

.tech-item .tech-item-title:hover {
    cursor: pointer;
    text-decoration: underline;
}